FRONTEND_URL: "http://localhost:3000"

DATABASE_HOST: localhost
DATABASE_USERNAME: postgres
DATABASE_PASSWORD: postgres
REDIS_URL: redis://localhost:6379/0
SECRET_KEY_BASE: 
DEVISE_JWT_SECRET_KEY: teste

AGORA_APP_ID: 
AGORA_APP_CERTIFICATE:

STRIPE_SECRET_KEY:
STRIPE_WEBHOOK_SECRET:
